<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit</title>
</head>
<body>
    <h1>The fruits name is : "<%= fruitName %>"</h1>
    <p>Calories: <%= fruitNutritions.calories %></p>
    <p>Fat: <%= fruitNutritions.fat %></p>
    <p>Sugar: <%= fruitNutritions.sugar %></p>
    <p>Carbohydrates: <%= fruitNutritions.carbohydrates %></p>
    <p>Protein: <%= fruitNutritions.protein %></p>
</body>
</html>